body {

    text-align: center;
}

main {
    padding: 10px;
    background-color: white;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

/*
#admin-link{
    display: none;

}
*/