body {
    font-size: 62.5%;
    margin: 0;
    text-align: center;
    background-color: white;

}

main {

    background-color: white;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100px;
    font-size: 1.3rem;
    z-index: 3;
}

body{
    padding-top: 100px;
}

h1,
h2,
nav
{
    font-family: "Amatic SC", sans-serif;
}


h1{
    font-size: 1.8rem;
    margin-top: 100px;
}

h1+p{
    font-size: 1.2rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}



/* SLIDESHOW */


#slideshow{
    width: 100%;
    margin-top: 100px;
    justify-content: center;
}


img{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}


.fa-chevron-left{
    display: block;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 0;
    color: white;
    font-size: 0.8rem;
    border-bottom-right-radius: 17px;
    border-top-right-radius: 17px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 10px 10px 5px;
    z-index: 1;
}

.fa-chevron-right{
    position: absolute;
    top: 60%;
    right: 0;
    color: white;
    font-size: 0.8rem;
    border-bottom-left-radius: 17px;
    border-top-left-radius: 17px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 5px 10px 10px;
    z-index: 1;
}

.fa-chevron-left:hover, .fa-chevron-right:hover{
    background-color: rgba(0,0,0,1);
}


.slide{
    display: block;
}

.slide-text{
    color: black;
    font-size: 15px;
    padding: 8px 12px;
    bottom: 8px;
    text-align: center;
}

.monitoring-dots{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}

.dot{
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

}

#stop-defil{
    margin-top: 15px;
    font-size: 1.2rem;
    color: white;
    background-color: #297DB5;
    padding: 0.3rem;
    border-radius: 5px;
}



/*animated fading*/

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade{
    from {opacity: .4}
    to {opacity: 1}
}


/* SLIDESHOW ENDS */






/*------BREAKPOINTS------*/

/*pad screen*/

@media screen and (min-width: 768px){



    .fa-chevron-left{
        font-size: 0.8rem;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        padding: 10px 10px 10px 2px;
        z-index: 1;
    }

    .fa-chevron-right{
        font-size: 0.8rem;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        padding: 10px 2px 10px 10px;
        z-index: 1;
    }



}

/*desktop screen*/

@media screen and (min-width: 968px){



    .fa-chevron-left{
        font-size: 1.6rem;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 50px;
        padding: 20px 20px 20px 5px;
        z-index: 1;
    }

    .fa-chevron-right{
        font-size: 1.6rem;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        padding: 20px 5px 20px 20px;
        z-index: 1;
    }
}