{% extends 'layout/layout.twig' %}



{% block title %} Ajout d'un utilisateur {% endblock %}

{% block content %}
    <h1> Ajout d'un utilisateur</h1>
    <form class="" action="{{ url('user!create') }}" method="post">
        <ul>

            <li>
                <label for="name">Votre nom qui sera affiché</label>
                <input id="name" type="text" name="name" required>
            </li>
            <li>
                <label for="email">Email</label>
                <input id="email" type="email" name="email" required>
            </li>
            <li>
                <label for="pass">Mot de passe</label>
                <input id="pass" type="password" name="pass" autocomplete="off" required>
            </li>
        </ul>

        <ul>
            <li>
                <input type="reset" value="Reset">
                <input type="submit">
            </li>
        </ul>
    </form>
    <a href="{{ url('user') }}">Panneau de contrôle</a>
{% endblock %}