{% extends 'layout/layout.twig' %}

{% block title %}Tous les chapitres publiés{% endblock %}

{% block description %}Billet simple pour l'Alaska - Jean Forteroche{% endblock %}

{% block main %}
    <!DOCTYPE html>

    <main id="home">
        <section>
            <h2>Le roman en cours</h2>

            <p>Sur cette page, vous trouverez l'ensemble des chapitres déjà publiés.</p>
            <p>Pour pouvoir commenter les publications : <a href="{{ url('Users!launch') }}">inscrivez-vous / identifiez-vous ici</a>.</p>

        </section>

        <section>
            <h3>Billet simple pour l'Alaska</h3>


            <div class="articles-reading">
                {% for article in articles %}



                    <p class="article-title">{{ article.title }}</p>

                    <p class="article-content">{{ article.content | raw }}</p>

                    <a class="link-to-article" href="{{ url('Articles!read', {'id': article.id}) }}">Lire/Commenter ce chapitre</a>


                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}