{% extends "layout/layout2.twig" %}

{% block main %}



    <h1>Au revoir...</h1>

    <p>Votre compte a bien été supprimé.</p>

    <a class="back-links" href="{{ url('Home') }}" title="Home"> Retour à l'accueil </a>


{% endblock %}