{% extends 'layout/layout.twig' %}

{% block title %}Jean Forteroche - Billet simple pour l'Alaska{% endblock %}

{% block description %}Blog - Jean Forteroche{% endblock %}

{% block main %}
    <main id="home">










        <section>
            <h2>Bienvenue</h2>

            <p>Sur ce blog, vous pourrez suivre la publication du dernier roman de Jean Forteroche : Billet simple pour l'Alaska.</p>
            <p>Pour accéder à l'ensemble des fonctionnalités : <a href="index.php?access=users">inscrivez-vous ici</a>.</p>
            <p>Pour lire tous les chapitres depuis le début : <a href="index.php?access=articles">c'est ici</a> </p>
        </section>



        <article id="slideshow">



            <figure class="slide fade">
                <img src="images/alaska_1.jpg" alt="repérage">
                <figcaption class="slide-text">Choississez une station proche de vous ( Cliquez sur le marqueur ).</figcaption>
            </figure>

            <figure class="slide fade">
                <img src="images/alaska_2.jpg" alt="votre identité">
                <figcaption class="slide-text">Entrez vos informations personnelles puis signez.</figcaption>
            </figure>

            <figure class="slide fade">
                <img src="images/alaska_3.jpg" alt="réservation limitée">
                <figcaption class="slide-text">Une fois réservé, vous disposez de 20 minutes pour récupérer votre vélo.</figcaption>
            </figure>

            <span id="prev-arrow"><i class="fas fa-chevron-left"></i></span>
            <span id="next-arrow"><i class="fas fa-chevron-right"></i></span>

            <!--monitoring dots-->
            <div class="monitoring-dots">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>

            <button type="button" id="stop-defil">Arrêter/démarrer le diaporama</button>

        </article>


















        <section>
            <h2>Dernier chapitre en date publié</h2>


            <div>
                {% for article in articles %}

                    <p> {{ article.title }} <br>{{ article.content | raw }} </p>

                {% endfor %}
            </div>
        </section>



    </main>

    <script src="js/script.js"></script>
    <script src="js/Slider.js"></script>



{% endblock %}

