{% extends 'layout/layout.twig' %}

{% block title %}Jean Forteroche - Billet simple pour l'Alaska{% endblock %}

{% block description %}Blog - Jean Forteroche{% endblock %}

{% block main %}
    <main id="home">
        <section>
            <h2>Bienvenue</h2>

            <p>Sur ce blog, vous pourrez suivre la publication du dernier roman de Jean Forteroche : Billet simple pour l'Alaska.</p>
            <p>Pour accéder à l'ensemble des fonctionnalités : <a href="index.php?access=user">inscrivez-vous ici</a>.</p>
            <p>Pour lire tous les chapitres depuis le début : <a href="index.php?access=articles">c'est ici</a> </p>
        </section>

        <section>
            <h2>Dernier chapitre en date publié</h2>


            <div>
                {% for article in articles %}

                    <p> {{ article.title }} <br>{{ article.content | nl2br }} </p>

                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}