{% extends "layout/layout.twig" %}

{% block main %}

    <h1>Mentions légales</h1>


    <p>
        Mais parce qu’on a des frais! Vous pouvez pas vous rentrer ça dans le crâne? Mais j’ai jamais dit qu’ça devait être vrai! Y a des gens qui ont pris la peine de faire un dessert. La moindre des choses c’est de rester pour le manger. Ben quoi? C’est pas si grave que ça! Ah non, non! Y a pas de pécor pour la quête du Graal! Enfin… À moins ça ait changé? De toute façon le chevalier de Provence il faudrait déjà mettre la main dessus.
        Mais vous êtes complètement con? Animaux de la forêt! Auw auw ouh, woh woh woh woh, auw aouh! Mais… C’est le Chevalier de Provence ou le Chevalier Gaulois? Faudrait savoir! Ah non, s'il vous plaît, laissez tomber les combines à deux ronds.
        Oh ben ça va on plaisante! Ouais le problème c'est qu'on a passé quatre semaines à construire un barrage, ça fait un peu mal au cul de le détruire.<br>
        P’tite pucelle! Traitez-moi de grosse gouine et attaquez moi! Ah mais non, on va se faire tuer là! Ouais… Ouais je me suis gouré… On construit un barrage, après on lance de la caillasse de l'autre côté de la rivière pour faire croire aux autres qu'on a traversé dans l'autre sens, une fois qu'ils sont au milieu, on casse le barrage et on les noie. Ah mais non arrêtez, là, on va se faire repérer, là.
        Mais Attila vous y attend, Sire! Attila! Le Fléau de Dieu! Ouais, y a pas à dire, quand y a du dessert le repas est tout de suite plus chaleureux! Ah il faut la tenter celle-là! Mais… C’est le Chevalier de Provence ou le Chevalier Gaulois? Faudrait savoir! C’est du patrimoine ça?
        Animaux de la forêt! Auw auw ouh, woh woh woh woh, auw aouh! Et on peut savoir depuis quand vous arpentez la Bretagne en racontant à tout le monde que vous vous appelez Provençal le Gaulois? Non, j’vais varier les fruits, n’vous inquiétez pas. Ben c’est bien ce que j’ai dit! Provençal le Gaulois… le Galois… Ouais je vois ce que vous voulez dire… Ah il faut la tenter celle-là! Alors par contre, si vous sentez qu’il s’énerve un peu, hein, vous lui sortez un morceau de viande. N’empêche que j’suis une légende!
        Faut faire un feu en forme de cercle autour d'eux, comme ça ils se suicident, pendant que nous on fait le tour, et on lance de la caillasse de l'autre côté pour brouiller. Non? P’tite pucelle! On va pas rester plantés là comme des radis.
        N’empêche que j’suis une légende! On plaisante, on plaisante… Passer la tête? Pour me prendre une flêche dedans? Non merci!<br>
        Oui… Ben vous… Occupez vous d’les faire ça s’ra déjà pas mal! Y en a marre de se comporter comme des sagouins avec tout le monde sous prétexte qu’on a des responsabilités. Hé mais j'ai failli me la prendre! Je suis chef de guerre moi, je suis pas là pour secouer des drapeaux et jouer de la trompette. C’est quand même pas de bol pour lui, hein. Parce que les rares fois où il arrive à faire quelque chose de ses dix doigts, il se goure quand on lui demande son nom.
        Mais bien sûr, comme ça au lieu de confondre les signes, ils auraient confondu les couleurs! Ben je suis pas mystérieux moi! J’suis même pas solitaire. C’est du patrimoine ça? Là c’est une table ronde. Pour que les chevaliers de Bretagne se réunissent autour. Toute façon autant vous y faire parce qu’à partir de maintenant on va s’appeler «Les Chevaliers de la Table Ronde».
        Vous binez pas… Même nous on a pas tout compris. C’est du patrimoine ça? Bon alors en garde, fils d’unijambiste. Y a des gens qui ont pris la peine de faire un dessert. La moindre des choses c’est de rester pour le manger.
        La ferme! Mais ils ont pas le droit de décider de la retraite eux-mêmes! On l’a dit et redit ça! On plaisante, on plaisante…<br>
        On pourrait balancer de la caillasse vers là-bas, comme ça ils se disent qu'on y est et on part dans l'autre sens. Non Provençal c’est mon nom. Très exactement c’est «Provençal le Gaulois». Mais parce qu’on a des frais! Vous pouvez pas vous rentrer ça dans le crâne? Non, j’vais varier les fruits, n’vous inquiétez pas. Sans vouloir abuser. Il me semble pas que vous soyez provençal non plus… Et si on faisait le coup du bouclier humain?
        Mais ça va! Pourquoi vous m’agressez? Et alors c'est pas permis? Y en a marre de se comporter comme des sagouins avec tout le monde sous prétexte qu’on a des responsabilités.
        Faut faire comme avec les scorpions qui se suicident quand ils sont entourés par le feu. Bon alors en garde, fils d’unijambiste. Vous allez me faire le plaisir devous remuez un peu les miches, Sire, j’ai l’impression de me battre contre une vieille! Je suis chef de guerre moi, je suis pas là pour secouer des drapeaux et jouer de la trompette.

    </p>



{% endblock %}