{% extends "layout/layout.twig" %}



{% block main %}




        <section id="signin">

            <h3>Vous avez déjà un compte :</h3>
            <form class="form" action="{{ url('Users!launch') }}" method="post">
                <fieldset>
                    <legend><i class="fas fa-unlock-alt"></i> Connexion à votre espace</legend>

                            <label for="email">Email</label>
                            <input id="email" name="email" type="email" placeholder="E-mail" required>

                            <label for="pass">Mot de passe</label>
                            <input id="pass" name="pass" type="password" placeholder="mot de passe" autocomplete="off" required>

                            <button type="submit">Connexion</button>

                </fieldset>
            </form>
        </section>

        <section id="signup">
            <h3>Vous souhaitez créer un nouveau compte :</h3>
            <form class="form" action="{{ url('Users!create') }}" method="post">
                <fieldset>
                    <legend><i class="fas fa-unlock-alt"></i> Créer votre espace membre (seul votre nom sera affiché avec vos commentaires)</legend>

                            <label for="name">Votre nom</label>
                            <input id="name" name="name" type="text" placeholder="Votre nom" required>

                            <label for="email">Email</label>
                            <input id="email" name="email" type="email" placeholder="exemple@exemple.com" required>

                            <label for="pass">Mot de passe</label>
                            <input id="pass" name="pass" type="password" placeholder="chiffres et lettres" autocomplete="off" required>


                            <button type="submit">Enregistrer</button>

                </fieldset>
            </form>
        </section>

{% endblock %}