{% extends "layout/layout2.twig" %}

{% block main %}



    <h1>A bientôt {{ name }} !</h1>

    <p>Ne partez pas trop longtemps, il se passe toujours quelque chose sur le chemin de l'Alaska !</p>

    <a class="back-links" href="{{ url('Home') }}" title="Home"> Retour à l'accueil </a>


{% endblock %}