{% extends "layout/layout2.twig" %}

{% block main %}



    <h1>Binvenue parmis nous {{ name }} !</h1>

    <p>Vous pouvez dès à présent commenter chacun des chapitres du roman en cours !</p>

    <a class="back-links" href="{{ url('Home') }}" title="Home"> Retour à l'accueil </a>


{% endblock %}
