{% extends "layout/layout2.twig" %}

{% block main %}



    <h1>Bon retour parmis nous {{ name }} !</h1>

    <p>Je suis content de voir que vous pensez à moi -- Jean</p>

    <a class="back-links" href="{{ url('Home') }}" title="Home"> Retour à l'accueil </a>


{% endblock %}






