<footer>

            <a class="footer-icon" href="">
                <i class="fab fa-twitter"></i>
            </a>

            <a class="footer-icon" href="">
                <i class="fab fa-instagram"></i>
            </a>

            <a class="footer-icon" href="">
                <i class="fab fa-facebook"></i>
            </a>

</footer>