<nav>
    <ul>

        {% block navbar %}
        <li>
            <a href="{{ url('home') }}" title="Home">
                <i class="fas fa-home fa-fw fa-3x" aria-hidden="true"></i>
            </a>
        </li>

        <li>
            <a href= "{{ url('post') }}" title="Tous les chapitres"><i class="fas fa-book-open"></i> Chapitres</a>
        </li>

            <li>
                <a href= "{{ url('login') }}" title="Connexion"><i class=""></i> Connectez-vous </a>
            </li>
        {% endblock %}

    </ul>
</nav>